@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: 178, 100%, 50%;

  --Very-dark-blue-main: hsl(217, 54%, 11%);
  --Very-dark-blue-card: hsl(216, 50%, 16%);
  --Very-dark-blue-line: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: var(--Very-dark-blue-main);
  display: flex;
  font-family: "Outfit", sans-serif;
  justify-content: center;
  margin: auto 25px;
  min-height: 100vh;
}

p {
  font-size: 18px;
}

#card {
  background-color: var(--Very-dark-blue-card);
  border-radius: 15px;
  box-shadow: 0 12px 8px 15px hsl(217, 54%, 10%);
  color: var(--Soft-blue);
  display: grid;
  padding: 20px;
  row-gap: 25px;
  width: 350px;
}

#equilibrium-img {
  cursor: pointer;
  position: relative;
}

#equilibrium-img:hover::after {
  align-items: center;
  background-color: hsl(var(--Cyan), 0.5);
  content: url("./images/icon-view.svg");
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#equilibrium-img img {
  border-radius: 5px;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

#heading {
  color: var(--White);
  cursor: pointer;
  font-size: 25px;
}

#heading:hover {
  color: hsl(var(--Cyan));
}

#time {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

#time p {
  align-items: center;
  display: flex;
  gap: 5px;
}

#time p:nth-child(1) {
  color: hsl(var(--Cyan));
}

#creator {
  align-items: center;
  border-top: 2px solid var(--Very-dark-blue-line);
  display: flex;
  gap: 15px;
  padding: 20px 0;
}

#creator img {
  border: 2px solid var(--White);
  border-radius: 50%;
  height: 36px;
}

#creator span {
  color: var(--White);
  cursor: pointer;
}

#creator span:hover {
  color: hsl(var(--Cyan));
}
